<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Pessoal</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- <script src="" no></script> -->
</head>

<body>
    <form>
        <div>
            <label for="ilivroname">Nome do livro</label>
            <input type="text" id="ilivroname" required>
        </div>
        <div>
            <label for="iautorname">Nome do Autor</label>
            <input type="text" id="iautorname" required>
        </div>
        <div>
            <label for="iqtdpaginas">Quantidade de paginas</label>
            <input type="number" id="iqtdpaginas">
        </div>
        <div>
            <input type="submit" value="Adicionar">
        </div>
    </form>
    <div id="arearesultado">

        {% for key,livro in livros.items()%}
        <div id="livros">
            <input type="checkbox" name="{{ key }}" id="{{ key }}">
            <label for="{{ key }}">
                {{livro["autor"]}},
                {{livro["titulo"]}}
            </label>
            <!-- <label for="{{ key }}"></label> -->
        </div>
        {% endfor%}
    </div>
    <script src="static/script.js"></script>
</body>

</html>