<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Mateus</title>
</head>
<body>
    <section>
        <h2>Livros para ler em 2024</h2>
        <table>
            <thead>
                <th>id</th>
                <th>Nome do livro</th>
                <th>Quantidade paginas</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Do Tera a Lua</td>
                    <td>192</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>